
body {
    text-align: center;
    background: rgb(113, 221, 103); 
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    color: #04202e;
    margin: 20px 0px;
}

#game{
    border-radius: 15px;
    box-shadow: 0 0 5px #00A7FF;
}